/* CSS styles */
body {
    background-color: #EEEEEE; /* Blanc légèrement gris pour la couleur de fond */
    color: #333; /* Couleur du texte principal */
}

h1, h2, h3 {
    color: rgb(84, 161, 243); /* Couleur des titres */
}

a {
    color: #28a745; /* Couleur des liens */
}

body {
    font-family: 'Roboto', sans-serif; /* Remplacez 'Roboto' par la police de votre choix */
}

.container {
    max-width: 1200px; /* Limite la largeur du contenu pour une lecture plus facile */
    margin: 0 auto; /* Centre le contenu */
    padding: 20px; /* Ajoute une marge intérieure au contenu */
}

body.about4 {
    position: relative;
    background: url('podi.svg') center / 90% no-repeat, url('logo_mtp.svg') center / contain no-repeat;
    /* Autres styles d'arrière-plan et de mise en page */
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond avec opacité pour le logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%; /* Ajustez selon vos besoins */
    max-height: 80%; /* Ajustez selon vos besoins */
    opacity: 1; /* Opacité du logo */
}
